<% @merchant.bulk_discounts.each do |discount| %>
<section id="discount-<%= discount.id %>">
  <h2><%= link_to "#{discount.id}", merchant_bulk_discount_path(@merchant.id, discount.id) %></h2>
  <p>Percentage: <%= discount.percentage %>%</p>
  <p>Quantity Threshold: <%= discount.quantity %></p>
  <% end %>
</section>

<%= link_to "Create New Discount", new_merchant_bulk_discount_path(@merchant.id) %>
