<h1 align="center">Create A New Discount</h1></br>

<div align="center">
<%= form_with model: [@merchant, @bulk_discount], method: :post, local: true do |f| %>
  <%= f.label :percentage %>
  <%= f.text_field :percentage %>
  <%= f.label :quantity, "Quantity Threshold" %>
  <%= f.text_field :quantity %>
  <%= f.submit 'Create Discount' %>
<% end %>
</div>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
