<div class="dashboard">
<h1>Invoice #<%= @invoice.id %></h1>
  <div>
    <button type="button" class="btn btn-dark"><%= link_to "Dashboard", admin__index_path %></button>
    <button type="button" class="btn btn-dark"><%= link_to "Merchants", admin_merchants_path %></button>
    <button type="button" class="btn btn-dark"><%= link_to "Invoices", admin_invoices_path %></button>
  </div>
</div>

<div class="status-wrapper">
<p>Status: <%= @invoice.status %></p>
<p>Created At: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>
<p>Customer: <%= Customer.find(@invoice.customer_id).first_name %> <%= Customer.find(@invoice.customer_id).last_name %></p>
</div>

<div class="dashboard-list-wrapper">
  <div>
    <h3>Items:</h3>
    <div class="list">
    <% @merchant.items_on_invoice(@invoice.id).each do |ii| %>
      <div id = <%= "#{ii.id}" %> >
        <h4><%= ii.name %></h4>
        <p>Quantity: <%= ii.quantity %></p>
        <p>Unit Price: $<%= ii.price_to_dollars(ii.item_price) %></p>
        <% if ii.find_discount.present? %>
          <p>Discount ID: <%= link_to "#{ii.find_discount.id}", merchant_bulk_discount_path(ii.find_discount.merchant_id, ii.find_discount) %></p>
        <% end %>
        <%= form_with model: [:merchant, ii], local: true do |f| %>
          <%= f.label :status %>
          <%= f.select :status, ['pending', 'packaged', 'shipped'] %>
          <%= f.submit 'Update Item Status' %>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>

  <div>
    <h2 style="color:green;">Total Revenue: <%= number_to_currency(@invoice.total_revenue(params[:merchant_id])) %> </h2>
    <h2 style="color:green;">Total Discounted Revenue: <%= number_to_currency(@invoice.total_discounted_revenue) %></h2>
  </div>
</div>
