<div align="center">

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>


<h1><%= @item.name %> </h1>

<p>Description: <%= @item.description %> </p>
<p>Current Selling Price: $<%= @item.price_to_dollars %> </p>
<p><button type="button" class="btn btn-dark"><%= link_to "Edit This Item", "/merchants/#{@item.merchant_id}/items/#{@item.id}/edit" %></button></p>
</div>
