<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <link rel="stylesheet" href="app/assets/stylesheets/gary_stylesheet.css" title="text/css" />  link on individual page and customize that way... -->

  </head>

    <body>
      <div class="container">
        <div class="wrapper">
          <nav>
            <button type="button" class="btn btn-dark"><%= link_to 'Admin Dashboard', "/admin" %></button></br></br>
            <button type="button" class="btn btn-dark"><%= link_to 'Merchant Dashboard', "/merchants/1/dashboard" %></button>
          </nav>
          <div class="header-container">
              <h1>Little Etsy Shop</h1>
            </div>
        </div>
      </div>
      <%= yield %>
        <footer>
          <!-- <p>github repo: <%# @repo.name %></p> -->
        <!--  < @contributors[1..4].each do |contributor|  -->
          <!--  <p>contributor.user_name </p> -->
          <!--  <p>commits:  contributor.contributions </p> -->
        <!--   end -->
        <!--  <p>Total Merged PRs:  @pull_count  </p> -->
        </footer>
    </body>
</html>
